 <div class="cookieContainer" >



    <form class="terms centerContainer column" method="POST" action="/cookies" id="agreement"> 
        <div class="userdetails column">
            <input name="username" id="username" autocomplete="off" placeholder="create username"></input>
        </div>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button class="btn" name="yes">enter</button>
      

    </form>
  


</div>


