
    <form class="centerContainer column" method="POST" action="/secret" > 
        <div class="userdetails column">
            <input name="username" id="username" autocomplete="off" placeholder="whisper a secret"></input>
        </div>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button class="btn" id="sharebtn" name="yes">share</button>
    </form>
  




