<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices. -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

        <title>FEED ME</title>
        <link rel="stylesheet" href="/style.css">


    </head>
    <body>
        <main>
                  <video autoplay muted loop>
                    <source src="https://res.cloudinary.com/dmwpm8iiw/video/upload/v1723722594/feedme/Feedme_Webbackground-1_cnpbum.mp4"></source>
                </video>
            <div class="container">
          
                {{{body}}}
            </div>
        </main>
         <script src="/actions.js"> </script>
    </body>
</html>


