        {{#if shouldLogIn}}
            {{>cookies}}
        {{/if}}

    {{>pill}}

    <div class="header">
            {{#if name}}
                <p> hello {{name}}</p>
                <p>manipulate the AI</p>
            {{/if}}
        </div>











    <a  class="btn" id="submit" href="" title="">FEED</a><span class="color color--blue" data-value="1"></span><span class="color color--orange" data-value="1"></span><span class="color color--green" data-value="1"></span><span class="color color--white" data-value="1"></span>

    <div class="sliders">
                        <div class="sliderContainer">
                            <input type="range" min="1" max="100" value="50" class="slider" id="param4" oninput='updateTextInput(this.value, "param4value");'>
                            <p id="param4value">50%</p>
                        </div>
                        <div class="sliderContainer">
                            <input type="range" min="1" max="100" value="50" class="slider" id="param3" oninput='updateTextInput(this.value, "param3value");'>
                            <p id="param3value">50%</p>
                        </div>
                        <div class="sliderContainer">
                            <input type="range" min="1" max="100" value="50" class="slider" id="param2" oninput='updateTextInput(this.value, "param2value");'>
                            <p id="param2value">50%</p>
                        </div>
                        <div class="sliderContainer">
                            <input type="range" min="1" max="100" value="50" class="slider" id="param1" oninput='updateTextInput(this.value, "param1value");'>
                            <p id="param1value">50%</p>
                        </div>
        </div>



















