        {{!-- <div class='popup'>
            <div class='header'><p>X</p></div>
            <div class='content'>
              <!-- <button class="button" id="submit">INJECT RANDOMNESS</button> -->
              <input type="text" id="name" placeholder="TELL ME UR NAME"> </input>
              <a class="btn"id="submit" href="" title="">INJECT RANDOMNESS</a><span class="color color--blue" data-value="1"></span><span class="color color--orange" data-value="1"></span><span class="color color--green" data-value="1"></span><span class="color color--white" data-value="1"></span>
            </div>
        </div> --}}
                

        {{#if shouldLogIn}}
            {{>cookies}}
        {{/if}}











   












