:root {
  --neongreen: rgb(0, 255, 47);
  --blue: blue;
  --margin: 1rem;
}
*{
  font-family: Arial, Helvetica, sans-serif;
}
html {
  overflow:   scroll;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent; /* make scrollbar transparent */
}

ul,li,
p{
  color: var(--neongreen);
  margin: 0;
}
ul,
li{
  list-style: none;
  padding: 0;
  padding-inline-start: 0;
}
li{
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  border-bottom: 1px solid var(--neongreen);
}
.pie {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid var(--neongreen);
}

h3{
  color: var(--neongreen);
}

video{
    position: fixed;
    height: 100%;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    width: 100%;
    object-fit: contain;
    z-index: 0;
    opacity: 1;

    }
.backgroundImage{
      width: 100%;
      height: 100%;
      object-fit: contain;
      position: fixed;
      top:0;
      bottom: 0;
    }

.container{
       z-index: 9;
        margin: 2rem 1rem;
        position: fixed;
        top: 0;
        bottom: 0;
        left:0;
        right: 0;
        border-radius: 40px;

        height: calc(100vh - 4rem);
        

        border: 2px var(--neongreen) solid;
        /* -webkit-box-shadow: inset 0 0 0.75em 0.25em var(--neongreen),
            0 0 0.75em 0.25em var(--neongreen);
        -moz-box-shadow: inset 0 0 0.75em 0.25em var(--neongreen),
            0 0 0.75em 0.25em var(--neongreen);

        box-shadow: inset 0 0 0.75em 0.25em var(--neongreen),
            0 0 0.75em 0.25em var(--neongreen); */
            
    }
.footer,
.header{
  z-index: 9;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left:0;
  right: 0;
  margin: 0.5rem 1rem;
}
.footer{
  bottom: 0;
}
.header{
  top: 0;
}
.cookieContainer{
      z-index: 99;
       display: flex;
       flex-direction: column;        
       margin: 1rem;
       position: fixed;
       top: 0;
       bottom: 0;
       left:0;
       right: 0;
       border-radius: 40px;
       padding: 1rem;
       align-items: center;
       justify-items: center;
       justify-content: center;
       background-color: var(--blue);
       /* height: calc(100vh - 4rem); */
       

       border: 2px var(--neongreen) solid;
       /* -webkit-box-shadow: inset 0 0 0.75em 0.25em var(--neongreen),
           0 0 0.75em 0.25em var(--neongreen);
       -moz-box-shadow: inset 0 0 0.75em 0.25em var(--neongreen),
           0 0 0.75em 0.25em var(--neongreen);

       box-shadow: inset 0 0 0.75em 0.25em var(--neongreen),
           0 0 0.75em 0.25em var(--neongreen); */
           
   }

body{
  background-color: var(--blue);
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.button,
h1,a{
    font-size: 50px;
   color: white;
   font-family: sans-serif;
   text-align: center;
   z-index: 10;

}

.sliders{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 0rem);


}
.sliderContainer{
  height: 50vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: relative;
  margin-left: 1.3rem;
}
.sliderContainer p{
 color: var(--neongreen)
}
.sliderContainer p:first-child{
  color: var(--neongreen);
  position: absolute;
  bottom: 0;
  transform: rotate(-90deg);
  left: -1rem;
  width: fit-content;
  white-space: nowrap;
  transform-origin: 0% 0%;
  text-align: right;

 }
input[type=range]{
  -webkit-appearance: none;
  writing-mode: vertical-lr;
  direction: rtl;
  width: 16px;
  vertical-align: bottom;
  height: calc(100% - 20px);
  width: 40px;
  /* background: rgba(0,0,0,0); */
  border: 2px var(--neongreen) solid;
  border-radius: 30rem;
  padding-top: 10px;
  padding-bottom: 10px;
}
#param1{
  background: linear-gradient(to top, black 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0)  100%);
}
#param2{
  background: linear-gradient(to top, #00ffe8 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0)  100%);
}
#param3{
  background: linear-gradient(to top, #ff00ec 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0)  100%);
}
#param4{
  background: linear-gradient(to top, #d21526 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0)  100%);
}

input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  padding-top: 1rem;
  width: 20px;
  height: 20px;
  background-color: var(--neongreen);
  border-radius: 50%;
}




.btn {
  position: relative;
  font-family: sans-serif;
  text-decoration: none;
  transform-origin:50% 50%;

  /* text-transform: uppercase;

  letter-spacing: 2.8px; */
  background-color: var(--neongreen);
  border-color: rgba(0,0,0,0);
  word-wrap: break-word;
  color: white;
  width: calc(100% - 2rem);
  padding: 1rem 1rem;
  max-height: 120px;
  /* font-size: 50px; */
  border-radius: 35rem;
  text-align: center;
  font-size: 2rem;
  transition: 0.6s cubic-bezier(0.01, 1.69, 0.99, 0.94);
}

.cookieContainer .btn{
  width: 100%;
}
.cookieContainer form{
  width: 100%;
}
.cookieContainer input{
  font-size: 2rem;
  height: 73px;
  width: calc(100% - 0.5rem);
  background: rgba(0,0,0,0);
  border: 2px var(--neongreen) solid;
  border-radius: 30rem;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  color: var(--neongreen);
  margin-bottom: 1rem;
  text-align: center;
  color:var(--neongreen);
}
:focus{
  outline: none;
}
::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: white;
}


.btn--clicked {
  transition: 1.2s cubic-bezier(0.01, 1.69, 0.99, 0.94);
  padding: 0;
  z-index: -10;
  background-color: black;
  width: 0px;
  height: 0px;
  color: rgba(0,0,0,0);

}

#progressBar{
  width: 100%;
  -webkit-appearance: none;
   appearance: none;
}

#progressBar[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgb(25, 121, 55) 33%, 
	                           rgba(17, 0, 255, 0.1) 100%, transparent 100%),
	   -webkit-linear-gradient(top, 
	                           rgb(0, 21, 255), 
	                           rgb(0, 255, 0)),
	   -webkit-linear-gradient(left, rgb(8, 0, 255), rgb(17, 255, 0));

    border-radius: 2px; 
    background-size: 300% 100%, 100% 100%, 100% 100%;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.color {
  display: block;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  transition: 0.8s ease;
  border-radius: 50%;
  background-color: transparent;

  display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
}

.expanded {
  width: 200%;
  padding-bottom: 200%;
  height: auto;
}

.color--blue {
  background-color: blue;
  transition-delay: 0.25s;
  box-shadow: -1px 0px 86px 17px rgba(0,255,25,1);
  -webkit-box-shadow: -1px 0px 86px 17px rgba(0,255,25,1);
  -moz-box-shadow: -1px 0px 86px 17px rgba(0,255,25,1);

}

.color--orange {
  background-color: #FF88FF;
  transition-delay: 0.5s;
}

.color--green {
  background-color: #41FF9F;
  transition-delay: 0.75s;
}

.color--white {
  background-color: rgba(0,255,25,1);
  transition-delay: 1s;
  box-shadow: -1px 0px 86px 17px rgba(0,255,25,1);
  -webkit-box-shadow: -1px 0px 86px 17px rgba(0,255,25,1);
  -moz-box-shadow: -1px 0px 86px 17px rgba(0,255,25,1);
}

    #submit_container{
        position: fixed;

        right: 0;
        left: 0;
        bottom: 0;
        padding: 150px;
    }

    #myCanvas{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
    }
    #menuContainer{
        display: none;
    }

    .top{
        top: 50px;
        left: 50%;
    }
    .bottom{
        bottom: 50px;
        left: 50%;
    }
    .left{
        top: 50%;
        left: 50px;
    }
    .right{
        top: 50%;
        right: 50px;
    }

 #c{
  position: fixed;
  top: 0;
  z-index: -10;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
 }


 #userList{
  max-height: 100%;
  overflow-y: scroll;
 }
#userListContainer{
  background-color: var(--blue);
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  overflow-y: hidden;
  border: 2px solid var(--neongreen);
  border-radius: 40px;
  padding: 1rem;

}


        /* Carousel container */
        .carousel-container {
          display: flex;
          height: 100%;
          overflow-x: auto;
          scroll-snap-type: x mandatory;
          -webkit-overflow-scrolling: touch;
      }

      /* Carousel item */
      .carousel-item {
          flex: 0 0 auto;
          width: 100%;
          height: 100%;
          scroll-snap-align: center;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: column;
          box-sizing: border-box;
          padding: 20px;
      }



      .footer button {
          background-color: rgba(0,0,0,0);
          color: var(--neongreen);
          height: 1.8rem;
          width: 1.8rem;

          border: 2px solid var(--neongreen);
          border-radius:50%;
          cursor: pointer;
      }

      .footer button:disabled {
          visibility: hidden;
      }